html {height:100%;}
body {
    height: 100%;
    min-height: 100%;
    font-family: "Museo Sans Cyrl 300";
    font-size: 15px;
    line-height: 30px;
    color:#000000;
    min-width: 990px;
}
h1 {
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    letter-spacing: 0.5px;
    line-height: 70px;
    color: #000;
}
h2 {
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing:3.5px;
    margin-top: 85px;
    margin-bottom: 35px;
    color:#000000;
}
h3 {
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3.5px;
    margin-top: 90px;
    margin-bottom: 35px;
    color:#808080;
}
h4 {
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3.5px;
    margin-top: 90px;
    margin-bottom: 35px;
    color:#808080;
}
.lead {
    font-family: "Museo Sans Cyrl 500 Italic";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;
    color: #58595b;
}
.image_description {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #9a9a9a;
    margin: 20px 0;
}
.bold {
    font-family: "Museo Sans Cyrl 700";
}
.margined_top {
    margin-top: 70px;
}
ol {
    counter-reset: list1;
    padding: 0;
    font-family: "Museo Sans Cyrl 300";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 50px;
}
ol ol {
    color: #666666;
    line-height: 30px;
    margin-bottom: 15px;
}
ol li {
    padding-left: 30px;
    list-style-type: none;
    margin-bottom:0;
}
ol li:before {
    float: left;
    font-family: "Museo Sans Cyrl 700";
    margin-left: -30px;
    margin-right: 10px;
    display: block;
    counter-increment: list1;
    content: counter(list1) ". ";
}

ul {
    padding: 0;
    font-family: "Museo Sans Cyrl 300";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 50px;
}
ul ul {
    color: #666666;
    line-height: 30px;
    margin-bottom: 15px;
}
ul li {
    padding-left: 30px;
    list-style-type: none;
    margin-bottom:0;
}
ul li:before {
    float: left;
    font-family: "Museo Sans Cyrl 900";

    font-size: 120%;
    margin-left: -30px;
    margin-right: 10px;
    display: block;
    content: "–";
}

hr.small {
    border:0;
    width: 20px;
    height: 5px;
    background: #292929;
    display: block;
}

.more_button {
    display: inline-block;
    font-family: "Museo Sans Cyrl 700";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}
.more_button a {
    position: relative;
    text-decoration: none;
    border: 3px solid #292929;
    display: inline-block;
    color: #292929;
}
.more_button a:after {
    display: inline-block;
    content: "";
    background: url("../img/right.png") no-repeat 0 50%;
    width: 28px;
    margin-left:10px;
    margin-bottom: -2px;
    height: 11px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.more_button a:hover:after {
    margin-left:20px;
    margin-right:-10px;
}
#preloader {
    position: absolute;
    bottom: 100%;
    right:100%;
    width:100%;
}
body section * {
}
#header {
    width:100%;
    height: 100%;
    min-height:560px;
    background: url("../img/header/index_1900.jpg") repeat-y 50% 0;
    position: relative;
    left:0;
    top:0;
    color: #FFFFFF;
    z-index: 1;
}
#header * {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#header .down_arrow {
    opacity: 0;
    position: absolute;
    left:0;
    right:0;
    bottom: 70px;
    text-align: center;
    z-index: 3;
}
#header .down_arrow a {
    display: inline-block;
    background: url("../img/down.png") no-repeat 0 0;
    width:30px;
    height:30px;
    text-decoration: none;
}

.main #header {
    background: url("../img/header/index_1900.jpg") repeat-y 50% 0;
}
.about #header {
    background: url("../img/header/about_1900.jpg") repeat-y 50% 0;
}
.portfolio #header {
    background: url("../img/header/works_1900.jpg") repeat-y 50% 0;
}
.servises #header {
    background: url("../img/header/works_1900.jpg") repeat-y 50% 0;
}
.news #header {
    background: url("../img/header/index_1900.jpg") repeat-y 50% 0;
}
.contacts #header {
    background: url("../img/header/index_1900.jpg") repeat-y 50% 0;
}

.top #header .down_arrow {
    opacity: 1;
}

.bordered {
    width:100%;
    min-height: 560px;
    height: 100%;
    position: absolute;
    font-family: "Museo Sans Cyrl 500";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color:#FFFFFF;
    text-align: center;
    top: 0px;
    left:0px;
    z-index: 5;
}
.bordered * {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.bordered .left_line {
    position: absolute;
    left: 50px;
    width: 9px;
    top: 50px;
    bottom: 50px;
    background: #FFFFFF;
    z-index: 1;
}
.bordered .right_line {
    position: absolute;
    right: 50px;
    width: 9px;
    top: 50px;
    bottom: 50px;
    background: #FFFFFF;
    z-index: 1;
}
.bordered h1 {
    position: relative;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: 0;
    line-height: 25px;
    margin:0;
}
.bordered .line {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    overflow: hidden;
    text-align: center;
    margin-top: -20px;
}
.bordered .line:before,
.bordered .line:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 9px;
    background: #FFFFFF;
    z-index: -1;
    position: relative;
    vertical-align: top;
    top: 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.bordered .line:before {
    right: 20px;
    margin: 0 0 0 -100%;
}
.bordered .line:after {
    left: 20px;
    margin: 0 -100% 0 0;
}
.bordered .line span {
    display: inline-block;
    margin-top:0px;
    vertical-align: top;
    margin-top:180px;
}
.bordered .language {
    border-top: 9px solid #FFF;
    position: absolute;
    line-height: 28px;
    bottom: 15px;
    left: 50px;
    right: 50px;
    text-align: center;
}
.bordered .language a {
    display: inline;
    text-transform: uppercase;
    font-family: "Museo Sans Cyrl 700";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing:2px;
    text-decoration: none;
    border-bottom: 0;
    color: inherit;
}
.bordered .language a:hover {
    border-bottom: 2px solid;
}
.bordered .navbar {
    height: auto;
    min-height: 0;
}
.bordered .navbar {
    top: 110px;
    top: 50%;
    z-index:1;
    left: 0;
    right: 0;
    position: absolute;
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing:2px;
    color:#FFFFFF;
    list-style: none;
    background: transparent;
    border: 0;
    text-align: center;
}
.bordered .navbar ul{
    padding: 0;
}
.bordered .navbar li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}
.bordered .navbar li:before {
    display: none;
}
.bordered .navbar li.show_menu {
    display: none;
}
.bordered .navbar a {
    font-family: "Museo Sans Cyrl 700";
    font-size: 12px;
    background: transparent !important;
    display: inline-block;
	position:relative;
    padding:0;
    margin:0;
    text-transform: uppercase;
    color: inherit;
    border: 0;
    text-decoration: none;
}
.bordered .navbar a:after {
	display:block;
	content:"";
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	margin-bottom:-10px;
	height:3px;
	background:#FFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.bordered .navbar a:hover:after {
	opacity:1;
	margin-bottom:0px;
}
.bordered .navbar .active a:after {
	opacity:1;
	margin-bottom:0px;
}
.bordered .navbar li.show_menu a {
    border: 3px solid;
    width: 130px;
    margin: -10px 0;
    line-height: 40px;
    height: 44px;
}
.bordered .navbar li.show_menu a:after {
	opacity:0;
	margin-bottom:0px;
}

.bordered .navbar.short li {
    display: none;
}
.bordered .navbar.short li.show_menu {
    display: inline-block;
}
.active .bordered .line,
.active .bordered .left_line,
.active .bordered .right_line,
.active .bordered .language,
.active .bordered .navbar {
    position: fixed;
    z-index: 3;
}

.top .bordered .line:before {
    margin-right: -600px;
}
.top .bordered .line:after {
    margin-left: -600px;
}

#content {
    background: #dadbd8;
    padding-top: 170px;
    padding-bottom:70px;
    position: relative;
    z-index: 1;
}
#content:before, #content:after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

#index_portfolio {
    margin-bottom: 30px;
}
#index_portfolio * {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#index_portfolio .item {
    width: 100%;
    position: relative;
    margin-bottom:30px;
}
#index_portfolio .item .image img {
    display: block;
    width: 100%;
}
#index_portfolio .item .description {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f4f5f2;
    padding: 30px 40px;
    font-size: 15px;
    line-height: 20px;
}
#index_portfolio .item:hover .description {
    opacity: 1;
}
#index_portfolio .item .description h1 {
    font-size: 21px;
    line-height: 30px;
}
#index_portfolio .item .description .tag {
    display: block;
    font-family: 'MS Serif','New York',serif;
    font-style: italic;
}
#index_portfolio .item .description:after {
    display: block;
    margin-top:30px;
    width: 50px;
    height: 6px;
    background: #000000;
    content: "";
}
#index_portfolio .item .description .more_button {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
#index_portfolio .item .description .more_button a {
    border:0;
    line-height: 24px;
    font-size: 14px;
    width: auto;
}

#index_news .more_button {
    margin-bottom:125px;
    text-align: center;
    width:100%;
}
#index_news .more_button a {
    line-height: 51px;
    height:60px;
    letter-spacing: 1px;
    width:290px;
}
#index_news .more_button a:after {
    opacity:0;
    margin-right: -30px;
}
#index_news .more_button a:hover:after {
    opacity:1;
    margin-right: -40px;
}

#news .more_button {
    margin-bottom:125px;
    text-align: center;
    width:100%;
}
#news .more_button a {
    line-height: 51px;
    height:60px;
    letter-spacing: 1px;
    border: 0;
    position: relative;
}
#news .more_button a:after {
    display: block;
    position: absolute;
    background: #292929;
    height:2px;
    opacity: 0;
    left:0;
    bottom:10px;
    margin:0;
    width:100%;
    margin-bottom: -10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#news .more_button a:before {
    display: inline-block;
    content: "";
    background: url("../img/clock.png") no-repeat 0 50%;
    width: 30px;
    height: 30px;
    margin-bottom: -8px;
    margin-right: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#news .more_button a:hover:before {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
}
#news .more_button a:hover:after {
    margin-bottom:0;
    opacity: 1;
}

.news_block h1 {
    text-align: center;
    font-family: "Museo Sans Cyrl 900";
    letter-spacing: 5.5px;
    margin-top: 0;
    margin-bottom: 55px;
    position: relative;
}
.news_block .item {
    padding: 78px 55px 250px;
    overflow: hidden;
    background: #FFF;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.news_block .item * {
    z-index: 2;
    position: relative;
}
.news_block .item .background_image {
    text-align: center;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.news_block .item:hover .background_image {
     opacity: 0.3;
}
.news_block .item .background_image img {
    z-index: 0;
    display: inline-block;
    width: 200%;
}
.news_block .item .date {
    font-family: "Museo Sans Cyrl 700";
    font-size: 54px;
    line-height: 37px;
    margin-top: 0px;
    margin-bottom: 27px;
}
.news_block .item .date span {
    font-size: 16px;
    display: block;
}
.news_block .item .date:after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #000;
    margin-top: 11px;
}
.news_block .item .header {
    font-family: "Museo Sans Cyrl 500";
    font-size: 21px;
    margin-bottom: 35px;
}
.news_block .item .description {
    font-family: "Museo Sans Cyrl 300";
    font-size: 15px;
    line-height: 24px;
}
.news_block .item .image {
    width: 45%;
    margin: 0 -23%;
    position: absolute;
    bottom: 75px;
    left: 50%;
}
.news_block .item .image img {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
}

.soc_block {
    letter-spacing: 30px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.soc_block .soc_link {
    position: relative;
    text-indent: -9000px;
    display: inline-block;
    background: url("../img/soc_block.png") no-repeat 0 0;
    width:26px;
    height:27px;
}
.soc_block .soc_link:after {
    display:block;
    content:"";
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    margin-bottom:-10px;
    height:3px;
    background:#000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.soc_block .soc_link:hover:after {
    opacity:1;
    margin-bottom:0px;
}
.soc_block .soc_link.fb {
    background-position: 7px 0px;
}
.soc_block .soc_link.be {
    background-position: -51px 0px;
}
.soc_block .soc_link.pt {
    background-position: -106px 0px;
}

.nearly_news {
    position: relative;
    border: 1px solid #CCC;
    border-left: 0;
    border-right: 0;

}
.nearly_news:after {
    display: table;
    width: 100%;
    content: "";
    clear: both;
}
.nearly_news .prev, .nearly_news .next {
    float: left;
    display: block;
    width: 35%;
    padding: 15px 0;
    text-decoration: none;
}
.nearly_news .next {
    float: right;
}
.nearly_news .image {
    float:left;
    display: block;
    width: 25%;
    overflow: hidden;
}
.nearly_news .next .image {
    float: right;
}
.nearly_news .image img {
    display: block;
    border-radius: 50%;
    width: 100%;
}
.nearly_news .description {
    display: block;
    margin-top: 25px;
    margin-left: 30%;
}
.nearly_news .next .description {
    margin-left: 0;
    margin-right: 30%;
}
.nearly_news .description .text {
    display: block;
    color: #292929;
    font-family: "MS Serif";
    font-size: 15px;
    font-style: italic;
}
.nearly_news .description .name {
    display: block;
    color: #000;
    font-family: "Museo Sans Cyrl 700";
    font-size: 15px;
}


.block {
    margin: 0 65px;
    margin-bottom: 105px;
    font-size: 15px;
    line-height: 24px;
}
.block h1 {
    margin-top:45px;
    margin-bottom: 55px;
}
.block h1:after {
    content: "";
    display: block;
    margin-top: 65px;
    width: 60px;
    height: 5px;
    background: #000000;
}
.block h1.text-right:after {
    margin-right:0px;
    margin-left: auto;
}
.block .text-right h1:after {
    margin-right:0px;
    margin-left: auto;
}
.block.text-right h1:after {
    margin-right:0px;
    margin-left: auto;
}
.block h1.big_padding {
    padding-top:235px;
}
.block h1.big_padding:after {
     margin-top: 300px;
 }
.block h1.noline:after {
    display: none;
}
.block .less_margin_top {
    margin-top: -55px;
}
.block h3 {
}
.block p {
    margin-bottom: 20px;
}
.block .face1 {
    background: url("../img/face1.png") no-repeat 100% 200px;
    min-height: 1020px;
}
.block .face2 {
    background: url("../img/face2.png") no-repeat 0 460px;
    min-height: 1280px;
}
.block .header {
    font-family: "Museo Sans Cyrl 700";
    margin-top:30px;
}
.block .margined_left {
    margin-left: -50%;
}
.block .border-right {
    border-right: 9px solid #292929;
}
.block .border-bottom {
    border-bottom: 9px solid #292929;
}
.block .taglist {
    text-align: left;
    font-family: 'MS Serif','New York',serif;
    font-style: italic;
}
.block .taglist .tag {
    margin-top: 15px;
    width: 50%;
    float:left;
    color: #292929;
}
.block .hr {
    margin: 30px 0;
    width: 60px;
    height: 5px;
    background: #000000;
}
.block .arrow_left {
    display: block;
    width: 28px;
    height: 11px;
    background: url("../img/left.png") no-repeat;
    margin-top: 100px;
}
.block img {
    max-width: 100%;
}

.about_block h3 {
    font-family: "Museo Sans Cyrl 700";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.5px;
    margin-top: 45px;
    margin-bottom: 15px;
    color: #000000;
}

.contact_block .row {
    margin-bottom:70px;
}
.contact_block .more_button {
    margin-top:30px;
}
.contact_block .more_button a {
    width: 200px;
    height: 60px;
    line-height: 50px;
}
.contact_block .more_button a:after {
    opacity:0;
    margin-right: -30px;
    margin-bottom: -1px;
}
.contact_block .more_button a:hover:after {
    opacity:1;
    margin-right: -40px;
}

.portfolio_block .row {
    margin-bottom:70px;
}
.portfolio_block .slider_wrapper {
    margin: 50px;
    margin-bottom: 100px;
}
.portfolio_block .slider_wrapper:before {
    position: absolute;
    border: 3px solid #292929;
    left:-50px;
    top:-50px;
    right:50%;
    bottom: -70px;
    content:"";
}
.portfolio_part {
    height: 560px;
    margin-bottom:70px;
    position: relative;
}
.portfolio_part .image {
    top:0;
    left: 0;
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
}
.portfolio_part .description {
    padding: 0 65px;
    position: absolute;
    left: 16.6%;
    width: 50%;
    top: 25%;
    z-index: 2;
    color: #000000;
}
.portfolio_part .description h1{
    color: #000000;
}
.portfolio_part.part_1 .image {
    background: url("../img/portfolio/header/1_1900.jpg");
}
.portfolio_part.part_2 .image {
    background: url("../img/portfolio/header/2_1900.jpg");
}

.slider_wrapper {
    position: relative;
}
.slider_wrapper:after {
    display: table;
    width: 100%;
    content: "";
    clear: both;
}
.slider_wrapper .prev {
    position: relative;
    float: left;
    display: block;
    background: url("../img/slide_arrows.png") no-repeat 0 50%;
    width:8px;
    height: 24px;
}
.slider_wrapper .next {
    position: relative;
    float: left;
    display: block;
    margin-left:40px;
    background: url("../img/slide_arrows.png") no-repeat -51px 50%;
    width:8px;
    height: 24px;
}
.slider_wrapper .pagenumber {
    font-family: "Museo Sans Cyrl 900";
    letter-spacing: 3px;
    float: left;
    clear: left;
    width: 100px;
}
.text-right .slider_wrapper .buttons {
    float: right;
    text-align: left;
}


.slider_wrapper.big_slider_wrapper {
    padding: 0 40px;
    margin-bottom: 90px;
}
.slider_wrapper.big_slider_wrapper .prev {
    display: block;
    position: absolute;
    left:0;
    top:0;
    background: url("../img/big_slide_arrows.png") no-repeat 7px 50%;
    width:36px;
    height: 100%;
}
.slider_wrapper.big_slider_wrapper .next {
    display: block;
    position: absolute;
    right:0;
    top:0;
    background: url("../img/big_slide_arrows.png") no-repeat -27px 50%;
    width:36px;
    height: 100%;
}
.slider_wrapper.big_slider_wrapper .pagenumber {
    font-family: "Museo Sans Cyrl 500";
    font-size: 24px;
    letter-spacing: 18px;
    float: none;
    clear: left;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
.slider_wrapper.big_slider_wrapper .pagenumber span {
    font-size: 55px;
    font-family: "Museo Sans Cyrl 300";
}
.slider_wrapper.big_slider_wrapper .item img {
    width: 100%;
}

.slider {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
}
.slider .item {
    float:left;
    overflow: hidden;
}
.text-right .slider .item {
    text-align: right;
}
.slider .item img {
    /*width:100%;*/
}

.map {
    width: 100%;
    height: 600px;
}

#contact_form {
    width: 90%;
    margin: 0 auto;
}
#contact_form .notify {
    font-family: "Museo Sans Cyrl 700";
}
#contact_form .nessesary {
    float: right;
    font-size:14px;
}
#contact_form .input.string {
     position: relative;
     margin-bottom: 20px;
}
#contact_form .input.string .nessesary_input {
    position: absolute;
    right: 25px;
    top:50%;
    line-height: 6px;
}
#contact_form .input.string input {
    width: 100%;
    height: 50px;
    line-height: 48px;
    border:0;
    background: #DDDDDD;
    color: #000000;
    padding: 0 20px;
}
#contact_form .input.string.error input {
    background: #FFDDDD url("../img/exclamation.png") no-repeat 100% 50%;
}
#contact_form .input.string.valid input {
    background: #ddffdd url("../img/add.png") no-repeat 100% 50%;
}
#contact_form .input.string.error span {
    display: none;
}
#contact_form .input.string.valid span {
    display: none;
}
#contact_form .input.string textarea {
    width: 100%;
    max-width: 100%;
    height: 100px;
    border:0;
    background: #DDDDDD;
    color: #000000;
    line-height: 20px;
    padding: 10px 20px;
}
#contact_form .actions .input_submit {
    background: transparent;
    border: 3px solid #000000;
    color: #000000;
    font-family: "Museo Sans Cyrl 700";
    width: 240px;
    height: 50px;
    line-height: 40px;
    margin-bottom: 70px;
}
#contact_form .actions .input_submit:after {
    display: inline-block;
    content: "";
    background: url("../img/right.png") no-repeat 0 50%;
    width: 28px;
    margin-bottom: -2px;
    height: 11px;
    margin-left:10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity:0;
    margin-right: -30px;
}
#contact_form .actions .input_submit:hover:after {
    opacity:1;
    margin-right: -40px;
    margin-left:20px;
}
#contact_form .actions .input_submit.disabled {
    border: 3px solid #333333;
    color: #333333;
}
#contact_form .actions .input_submit.disabled:hover:after {
    opacity:0;
}

#connecntion {
    position: relative;
    z-index: 1;
}
#connecntion * {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#connecntion .connect_link {
    text-align: center;
    line-height: 140px;
    font-family: "Museo Sans Cyrl 100";
    font-size: 24px;
    letter-spacing: 1px;
    color:#ffffff;
}
#connecntion .connect_link a {
    background: #171717;
    width:100%;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
#connecntion .connect_link a:after {
    display: inline-block;
    content: "";
    background: url("../img/right_white.png") no-repeat 0 50%;
    width: 28px;
    margin-left:10px;
    height: 11px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#connecntion .connect_link a:hover {
    background: #333333;
}
#connecntion .connect_link a:hover:after {
    margin-left:20px;
    margin-right:-10px;
}

#footer {
    background: #292929;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    height:100%;
    z-index: 0;
}
#footer .container {
    padding-top:275px;
    position: relative;
    height:100%;
}
#footer a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
    position: relative;
}
#footer a:after {
    display:block;
    content:"";
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    margin-bottom:-12px;
    height:3px;
    background:#FFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#footer a:hover:after {
    opacity:1;
    margin-bottom:-2px;
}
#footer .logo {
    margin-bottom: 20px;
}
#footer .logo a {
    background: url("../img/footer_logo.png")no-repeat 50% 50%;
    width: 187px;
    height: 30px;
    display: inline-block;
}
#footer .logo a:after {
    display: none;
}
#footer .company {
    font-size: 13px;
    padding-right: 60px;
    line-height: 24px;
    margin-bottom: 67px;
}
#footer .soc {
    letter-spacing: 30px;
}
#footer .soc_link {
    position: relative;
    text-indent: -9000px;
    display: inline-block;
    background: url("../img/soc.png") no-repeat 0 0;
    width:26px;
    height:27px;
}
#footer .soc_link:after {
    display:block;
    content:"";
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    margin-bottom:-10px;
    height:3px;
    background:#FFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#footer .soc_link:hover:after {
    opacity:1;
    margin-bottom:0px;
}
#footer .soc_link.fb {
    background-position: 7px 0px;
}
#footer .soc_link.be {
    background-position: -51px 0px;
}
#footer .soc_link.pt {
    background-position: -106px 0px;
}
#footer h2 {
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    letter-spacing: 1.5px;
    color: #FFF;
    font-size: 23px;
    margin-bottom: 25px;
}
#footer .location {
    padding-left:25px;
    position: relative;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 11px;
}
#footer .location:before {
    content: "";
    display: block;
    background: url("../img/location.png") no-repeat 0 0;
    position: absolute;
    left: 2px;
    top: 7px;
    width: 11px;
    height: 15px;
}
#footer .location span {
    display: block;
    font-family: "Museo Sans Cyrl 900";
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 10px;
}
#footer .phone, #footer .fax, #footer .mail {
    font-size: 13px;
    line-height: 24px;
}
#footer .phone span, #footer .fax span, #footer .mail span {
    font-family: "Museo Sans Cyrl 700";
    display: inline-block;
    margin-right: 6px;
}
#footer .first_row {
    position: absolute;
    left: 0;
    padding: 0 15px;
    width: 100%;
    top: 50%;
    margin-top: -200px;
}
#footer .copyright {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 12px;
    position: absolute;
    bottom:0px;
    left:0;
    padding: 0 15px;
    width:100%;
}

.active #footer .container {
    position: fixed;
    left:0;
    right:0;
    top:0;
}

#fade_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 4;
    text-align: center;
    font-family: "Museo Sans Cyrl 900";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 45px;
    letter-spacing:2.5px;
    color:#ffffff;
    text-transform: uppercase;
}
#fade_menu nav {
    background: transparent;
    border: 0;
    position: fixed;
    top: 50%;
    left:0;
    right: 0;
    margin-top:-140px;
}
#fade_menu li {
    padding:0;
}
#fade_menu li:before {
    display: none;
}
#fade_menu a {
    color: inherit;
    background: transparent;
}
#fade_menu a span {
	position:relative;
	display: inline-block;
	line-height: 30px;
}
#fade_menu a span:after {
	display:block;
	content:"";
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	margin-bottom:-10px;
	height:3px;
	background:#FFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#fade_menu a:hover span:after {
	opacity:1;
	margin-bottom:0px;
}
#fade_menu .active a span:after {
	opacity:1;
	margin-bottom:0px;
}
#fade_menu .close_menu a {
    position: fixed;
    top: 115px;
    left: 50%;
    border: 3px solid;
    width: 130px;
    margin: -10px 0;
    margin-left: -65px;
    line-height: 40px;
    height: 44px;
    background: url("../img/close.png") no-repeat 50% 50%;
}

.fancybox-skin {
    margin-bottom: 0px;
}
.fancybox-close {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    left:20px;
    top: 20px;
    background: url("../img/fancybox/close_button.jpg") no-repeat 0 0;
}
.fancybox-close:hover {
    background-position: 0 0;
}

@media (min-width: 1900px) {
    .main #header {
        background: url("../img/header/index_3000.jpg") repeat-y 50% 0;
    }
    .about #header {
        background: url("../img/header/about_3000.jpg") repeat-y 50% 0;
    }
    .portfolio #header {
        background: url("../img/header/works_3000.jpg") repeat-y 50% 0;
    }
    .servises #header {
        background: url("../img/header/works_3000.jpg") repeat-y 50% 0;
    }
    .news #header {
        background: url("../img/header/index_3000.jpg") repeat-y 50% 0;
    }
    .contacts #header {
        background: url("../img/header/index_3000.jpg") repeat-y 50% 0;
    }
    .portfolio_part.part_1 .image {
        background: url("../img/portfolio/header/1_3000.jpg");
    }
    .portfolio_part.part_2 .image {
        background: url("../img/portfolio/header/2_3000.jpg");
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1280px;
    }
    .block {
        width: 1280px;
        margin: 0 auto;
    }
}
@media (max-width: 1399px) {
    .container {
        width: 1090px;
    }
    .block {
        width: 1090px;
        margin: 0 auto;
    }
    #index_portfolio .item .description {
        padding: 10px 20px;
    }
    #index_portfolio .item .description .more_button {
        bottom: 10px;
        left: 20px;
    }
    #index_portfolio .item .description:after {
        display: none;
    }
}
@media (max-width: 1199px) {
    .container {
        width: 910px;
    }
    .block {
        width: 910px;
        margin: 0 auto;
    }
    #index_portfolio .item .description {
        padding: 10px 20px;
    }
    #index_portfolio .item .description h1 {
        margin: 10px 0;
        font-size: 17px;
        line-height: 20px;
    }
    #index_portfolio .item .description .taglist .tag {
        font-size: 13px;
    }
}